{%  extends "base.html" %}
{% block head %}
    {{ super() }}
    {% assets "charts_js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    <script type="text/javascript" src="{{ url_for("static", filename="temp_and_rain.js") }}"></script>
{% endblock %}
{% block title %}{{ station.location }} - Temperatur und Regen{% endblock %}
{% block body %}
<div id="main_chart" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
<script>
var chart = create_tnr_chart("main_chart");
{% for sensor in temp_sensors %}
add_temp_sensor(chart, "{{ url_for("sensor_data", sensor_id=sensor.id, start=hours, start_mult=1) }}");
{% endfor %}
{% for sensor in rain_sensors %}
add_rain_sensor(chart, "{{ url_for("sensor_data", sensor_id=sensor.id, start=hours, start_mult=1) }}");
{% endfor %}
</script>
{% endblock %}
