{%  extends "base.html" %}
{% block head %}
    {{ super() }}
    {% assets "charts_js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    <script type="text/javascript" src="{{ url_for("static", filename="windspeeds.js") }}"></script>
{% endblock %}
{% block title %}{{ station.location }} - Wind Speeds{% endblock %}
{% block body %}
<div id="main_chart" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
<script>
create_windspeed_chart("main_chart", "{{ data_url }}");
</script>
{% endblock %}
